@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__row] {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper .wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.buttons {
  margin-top: 20px;
}
.buttons .buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  outline: none;
}

.btn-light {
  background-color: #fff;
}

.btn-dark {
  background-color: #303030;
  color: #fff;
  border: none;
}

.modal-two {
  /* ------- подложка модального окна ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  /* ------- размер модального окна ------- */
  /* ------- контент модального окна ------- */
  /* ------- крестик закрытия в углу сверху модального окна ------- */
}
.modal-two__row {
  max-width: 500px;
  margin: 40px auto;
}
.modal-two__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px;
  background-color: rgb(255, 228, 196);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-two__form {
  font-size: 18px;
}
.modal-two__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-two__title {
  color: #303030;
  text-align: center;
}
.modal-two__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}
.modal-two__input:hover {
  opacity: 0.8;
}/*# sourceMappingURL=modal_window.css.map */